{% extends 'blog/base.html' %}

{% block content %}

<h1 class="posttitle loader">{{post.title}}</h1>
{% if post.published_date %}
  <div class="date postdate">
    <p>{{post.published_date}}</p>
  </div>
{% else %}
  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

<p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>

{% if user.is_authenticated %}
  <button type="button" title='Edit'><a href="{% url 'post_edit' pk=post.pk %}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a></button>
  <button type="button" title='Delete'><a href="{% url 'post_remove' pk=post.pk %}">
    <span class="glyphicon glyphicon-remove"></span>
  </a></button>
{% endif %}

<hr>

<a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>

{% for comment in post.comments.all %}
  {% if user.is_authenticated or comment.approved_comment %}
    {{ comment.created_date }}

    {% if not comment.approved_comment %}
      <button type="button" title='Do not post'><a href="{% url 'comment_remove' pk=comment.pk %}">
        <span class="glyphicon glyphicon-remove"></span></button>
      </a>
      <button type="button" title='Post'><a href="{% url 'comment_approve' pk=comment.pk %}">
        <span class="glyphicon glyphicon-ok"></span>
      </a></button>
    {% endif %}
    <p>{{comment.text|safe|linebreaks}}</p>
    <p><strong>Posted by: {{comment.author}}</strong></p>
    <br>

  {% endif %}

  {% empty %}
    <p>No Comments!</p>

{% endfor %}

{% endblock %}
